
{% extends 'blog/base.html' %}
{% block content %}
<section>


<div class="card shadow-lg p-2 mb-3 bg-white rounded    border-bottom mt-6 mb-3 bg-light text-secondary p-2 text-center">
        {% if post.author == user %}
    <div class="form-group btn-editing text-left " style="    margin-bottom: 0px;
">
        <a class="btn btn-outline-danger my-2 my-sm-0 text-danger" href="{% url 'post_delete' post.pk %}">حذف</a>
        <a class="btn btn-outline-primary my-2 my-sm-0 text-primary" href="{% url 'post_update' post.pk %}">تحرير</a>

    </div>
    {% endif %}
<h5 class="mb-3">{{post.title}}</h5>
   <p> {{post.content}}
</p>
    {% if post.ImageURL %}
    <a href="{{post.ImageURL}}">المخطط</a>
    {% endif %}

</div>
</section>

{% endblock content %}
