
{% extends 'blog/base.html' %}
{% block content %}
<section>
  <div class="row mb-4 wow fadeIn ">
<div class="col-md-12 text-center ">

            <!--Card-->
<a style="    text-decoration: none !important;" href="{% url 'rfha' %}"><h4  style="font-size: 20px;"  class=" rounded-pill     mb-4 btn btn-outline-dark border-3  w-75    p-2">مخططات رفحاء</h4></a>



            <!--/.Card-->

          </div>
{% for category in categories %}
<div class="col-md-12  text-center ">

            <!--Card-->
<a style="    text-decoration: none !important;" href="{% url 'category' category.slug %}"><h4 style="font-size: 17px;"  class="   rounded-pill     mb-4 btn btn-outline-dark border-3  w-75  text-secondery  p-2">{{category.title}}</h4></a>



            <!--/.Card-->

          </div>
{% endfor %}
   </div>
</section>

{% endblock content %}
