
{% extends 'blog/base.html' %}
{% block content %}
<section>
  <div class="row mb-4 wow fadeIn ">
<div class="col-md-12 mb-4 text-center ">

            <!--Card-->
<a style="    text-decoration: none !important;" href="{% url 'rfha' %}"><h4  style=""  class="     p-3 mb-5 bg-white rounded tjaw-m rounded-pill border-secondary card border-bottom mt-6   text-secondery p-3">مخططات رفحاء</h4></a>



            <!--/.Card-->

          </div>
{% for category in categories %}
<div class="col-md-12 mb-3 text-center ">

            <!--Card-->
<a style="    text-decoration: none !important;" href="{% url 'category' category.slug %}"><h4 style=""  class=" p-3 mb-5 bg-white rounded tjaw-m rounded-pill border-secondary card border-bottom mt-6 mb-3  text-secondery p-3">{{category.title}}</h4></a>



            <!--/.Card-->

          </div>
{% endfor %}
   </div>
</section>

{% endblock content %}
