
{% extends 'blog/base.html' %}
{% block content %}
<section>
  <div class="row mb-4 wow fadeIn ">
<div class="col-md-12 mb-4 text-center ">

{% for post in post %}

    {% if post.ImageURL %}
<a style="    text-decoration: none !important;" href=" {{post.ImageURL}} "> <h4 style=""  class="shadow-lg p-1 mb-2 bg-white rounded border-bottom text-secondery ">{{post.title}}</h4></a>
    {% else %}
    <h4 style=""  class="shadow-lg p-1 mb-2 bg-white rounded border-bottom text-secondery ">{{post.title}}</h4>

    {% endif %}        <!--Card-->



            <!--/.Card-->

{% endfor %}
              </div>

   </div>
</section>

{% endblock content %}
