
{% extends 'blog/base.html' %}
{% block content %}
<section>
  <div class="row mb-4 wow fadeIn text-center ">
<div align="center" class="col-md-12 mb-4 text-center ">
<br/>
    {% for post in post %}


        {% if post.ImageURL %}
<a style="text-decoration: none !impourlnt;" href="{{post.ImageURL}}" <h5    class=" rounded-pill mb-2 btn btn-outline-dark w-75 border-3 ">{{post.title}}</h5></a>
    {% endif %}
        {% if post.url %}
<a style="    text-decoration: none !impourlnt;" href="{{post.url}}" <h5 class=" rounded-pill mb-2 btn btn-outline-dark w-75 border-3  ">{{post.title}}</h5></a>
    {% endif %}
        {% endfor %}

  <p>  <p style="color:red;margin-bottom: 0px;color:red;">عمولتنا<p/>
    <p style="margin-bottom: 0px;">من يستفيد من مخططاتنا في البيع
<p/>
    <p style="margin-bottom: 0px;">لنا في ذمته 1% من سعر السلعة
<p/>
    <p style="margin-bottom: 0px;">إن كان وسيط فنحن شركاء في العمولة
<p/>
    <p style="margin-bottom: 0px;">تصوير أي جزء من مخططاتنا
<p/>
    <p style="margin-bottom: 0px;">والاستفادة منها في البيع
<p/>
    <p style="margin-bottom: 0px;">يجعل لنا نصيب في العموله<p/></p>
{% endblock %}

