{% load static %}
{% load post_tag %}


<!DOCTYPE html>

<html lang="ar" >
<head>
{% if title %}
  <title>{{title}}</title>
{% else %}
  <title>مخططات رفحاء</title>
{% endif %}
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'Power/css/bootstrab.css' %}">
    <link rel="stylesheet" href="{% static 'Power/css/syle2.css' %}">
    <link rel="shortcut icon" href="{% static 'Power/images/icon.jpeg' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


</head>
<body >
<header>

<nav class="navbar navbar-expand-lg navbar-light border-bottom      shadow   bg-white rounded">
  <a class="navbar-brand" href="{% url 'home'%}">مخططات رفحاء
      <img style="width: 50px;" src="{% static 'Power/images/icon.png' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

{% if user.is_authenticated %}

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active text-left">
        <a class="btn text-primary my-2 my-sm-0 " href="{% url 'profile'%}"><h4 ><i  class="fas fa-user-circle"></i></h4><span class="sr-only">(current)</span></a>
      </li>
                <li class="nav-item active">
        <a class=" btn btn-outline-primary my-2 my-sm-0" href="{% url 'logout'%}"> تسجيل الخروج <span class="sr-only">(current)</span></a>
      </li>


                </ul>
                {% else %}
                <ul class="navbar-nav mr-auto">
 <li class="nav-item active">
        <a class=" btn btn-outline-primary my-2 my-sm-0" href="{% url 'login'%}"> تسجيل الدخول <span class="sr-only">(current)</span></a>
      </li> <li class="nav-item active">
                   <li class="nav-item">
        <a class="nav-link disabled" href="" tabindex="-1" aria-disabled="true"></a>
      </li>
        <a class=" btn btn-outline-primary my-2 my-sm-0" href="{% url 'register'%}">تسجيل<span class="sr-only">(current)</span></a>
      </li>
                </ul>
             {% endif %}
         <form class="form-inline my-2 my-lg-0 " action="{% url 'searchposts' %}" method="GET" value="{{request.GET.q}}">
      <input name="q" value="{{request.GET.q}}" class="form-control mr-sm-4" type="search" placeholder="" aria-label="Search" >
      <button class="btn btn-outline-primary my-2 my-sm-0"  type="submit" name="submit" value="Search">البحث</button>
    </form>
  </div>
</nav>
</header>
<section>
  <div class="container">
    <div class="row mt-4 " >
      <div class="col-md-12 ">
{% latest_posts %}
          {% block content %}

          {% endblock content %}






      </div>

    </div>
  </div>
</section>


<footer class="bd-footer  " >

<a href="https://api.whatsapp.com/send?phone=966560806050" class="float" target="_blank" style="    right: 22px;width: 55px;height: 55px;
">
<i style="
    width: 40px;
    height: 55px;
    " class="fab fa-whatsapp  fa-2x"></i></a>
  <div class="container fluid">



  </div>
</footer>

<script src="{% static 'Power\js\jquery.js'%}"></script>
<script src="{% static 'Power\js\popper.js'%}"></script>
<script src="{% static 'Power\js\fontawsome.js'%}"></script>
<script src="{% static 'Power\js\bootstrp.js'%}"></script>
</body>
</html>